<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Name.cshtml" method="post">
        Imię: <input type="text" name="name" />
        <input type="submit" name="send" value="wyślij" />
    </form>
</body>
</html>
