@{
    var name = "Robert Paulson";
    var receivedName = Request["name"];
    if (receivedName != "" && receivedName != null) {
        name = receivedName;
    }
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        @for (var i = 0; i < 10; i++) {
            <li> His name is @name</li>
        }
    </ul>
</body>
</html>
