@{
    Page.Title = "Strona główna";
}

@section Site {
    <div class="mainWindow">
        <p>Witaj w sklepie</p>
        <img src="https://media.istockphoto.com/vectors/sloth-cartoon-vector-illustration-1-vector-id500882610?k=6&m=500882610&s=170667a&w=0&h=L-UAQI1m3_w-A2aGnn-yHaAtGSU-X4qv4gV0HNV8oEE="
            alt="Nie można załadować obrazka" />
    </div>

}