* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

header {
    margin: 0px 0px 0px 0px;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    margin: 15px 0px 0px 0px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

footer {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: lightgray;
    border-top-style: solid;
    border-top-width: 2px;
    margin: 15px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.mainWindow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fs {
    width: 25%;
    border-color: black;
    border-width: 3px;
    font-size: 120%;
    background-color:lightblue;
}
.fs input[type=submit],
table input[type=submit] {
    width: 100%;
    height: 20px;
}

table {
    margin: 10px;
    border-collapse: collapse;
    width: 25%;
    border-color: black;
    border-width: 3px;
    font-size: 120%;
    background-color: lightcyan;
    stroke-width:5px;
    
}

table td,th {
    border-width: 3px;
    border-color: darkblue;
    border-style: solid;
}